<script>
    export let cardName = "";
    export let link = "";
</script>


<div class="card">
    <p>
        {cardName}
    </p>
    
    <a href="{link}">открыть</a>
    
</div>

<style lang="scss">
    .card {
        @apply flex p-4 bg-gray-200 space-x-4;
        
        p, a {
            @apply text-xl font-semibold;
        }
        
        a {
            @apply text-gray-700 hover:text-red-300;
        }
        
    }
</style>