<script lang="ts">
	let count: number = 0;

	const increment = () => {
		count += 1;
	};
	
	// $: console.log(`значение count равно ${count}`);
</script>

<button on:click={increment}>
	Clicks: {count}
</button>

<style lang="scss">
	button {
		font-family: inherit;
		font-size: inherit;
		font-variant-numeric: tabular-nums;
		@apply py-4 px-8; 
		@apply text-red-500;
		@apply bg-red-500 bg-opacity-10;
		@apply rounded-full;
		@apply border-2 border-transparent;
		@apply outline-none;
		@apply w-48;
		
	}

	button:focus {
		@apply border-opacity-100;
	}

	button:active {
		@apply bg-red-500 bg-opacity-20;
	}
</style>