<script lang="ts">

    let count2: number = 0;

    import EditorJS from '@editorjs/editorjs';
    import Header from '@editorjs/header'; 
    import List from '@editorjs/list'; 
    
    const editor = new EditorJS({ 
        /** 
        * Id of Element that should contain the Editor 
        */ 
        holder: 'editorjs', 
        
        /** 
        * Available Tools list. 
        * Pass Tool's class or Settings object for each Tool you want to use 
        */ 
        tools: { 
            header: {
                class: Header,
                inlineToolbar : true
            }, 
            list: List 
        }, 
        autofocus: true,
        placeholder: 'Let`s write an awesome story!'
    })
    
    

</script>


    
<section id="editorjs">
    
    <h1>Header</h1>
    
    <ul>
        List
        <li contenteditable="true">List item1</li>
        <li>List item2</li>
        <li>List item3</li>
    </ul>
</section>
    



<style lang="scss">
    section {
        width: 300px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    
    h1 {
        @apply text-xl font-medium text-purple-800 py-5;
    }
    
</style>