<script>
	import "../global.css";
</script>
<!-- <nav>
	<a href=".">Home</a>
	<a href="/paper1">wind infostrada</a>
</nav> -->
<slot />

<style lang="scss">
	
	// nav {
	// 	@apply flex flex-row mx-auto space-x-4 py-4 justify-center w-full text-center;
		
	// 	a {
	// 		@apply text-lg font-semibold;
	// 	}
	// }
	
</style>
