<script lang="ts">
	import Counter from '$lib/Counter.svelte';

	import { onMount } from 'svelte';
	
	import Card from '$lib/Card.svelte';
	
	
	// let variable = 1;
	
	// let Myutil;
	
	// $:doubled  = variable*2;
	// const sleep = ms => new Promise(f => setTimeout(f, ms));
	
	onMount(async()=>{
		// await sleep(1000);
		// Myutil = (await import('$lib/Myutil.svelte')).default;
		
		
	});
	
</script>

<main>
	<h1>Выбери шаблон в меню</h1>
	
	
	<div class="cards">
		<Card cardName="wind infostrada" link="paper1" />
	</div>
	
	<h1>Туториал:</h1>
	
	<div class="flex flex-col w-1/2 mx-auto space-y-4 divide-y-2">
		<img src="tutor1.jpg" alt="tutorial 1">
		<hr>
		<img src="tutor2.jpg" alt="tutorial 2">
		<hr>
		<img src="tutor3.jpg" alt="tutorial 3">
		<hr>
		<img src="tutor4.jpg" alt="tutorial 4">
		<hr>
		<img src="tutor5.jpg" alt="tutorial 5">
	</div>

	<!-- <Counter />

	

	
	<p>Visit <a class="text-blue-600 underline" href="https://svelte.dev">svelte.dev</a> to learn how to build Svelte apps.</p>
	
	<p>{doubled}</p>
	
	
	
	<svelte:component this={Myutil} >
		
	</svelte:component> -->
	
</main>

<style lang="scss">
	:root {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
			'Open Sans', 'Helvetica Neue', sans-serif;
	}

	main {
		@apply text-center;
		@apply p-4;
		@apply mx-auto;
	}

	h1 {
		@apply text-red-600;
		@apply uppercase;
		@apply text-6xl;
		@apply font-thin;
		@apply leading-tight;
		@apply my-16 mx-auto;
		@apply max-w-xs;
	}

	p {
		@apply max-w-xs;
		@apply my-8 mx-auto;
		@apply leading-snug;
	}
	
	.cards {
		@apply  mx-auto flex flex-row justify-center;
	}

	@screen sm {
		h1 {
			@apply max-w-none;
		}

		p {
			@apply max-w-none;
		}
	}
</style>
