
<script lang="ts">
    // import { jsPDF } from "jspdf";
    import html2canvas from 'html2canvas';
    import { base, assets } from '$app/paths';
    
    // import html2PDF from 'jspdf-html2canvas';
    
    let total = 86.88;
    
    const print = () => {
        
        window.print();
        
    }
    
    const goBack = () => {
        history.back();
    }
    
</script>

<p class="text-center mx-auto no-print">Можете редактировать даты / адреса / суммы </p>
<a href="{base}" class="finalBtn no-print inline-block w-1/5">Назад</a>
<button on:click="{print}" class="finalBtn no-print">Сгенерировать pdf документ</button>

<div id="printThis">

    <section class="flex justify-between pt-8 pb-4">
        <img src="wind.png" alt="wind logo" style="height: 60px;">
        <img src="Infostrada.png" alt="infostrada logo" style="height: 60px;">
    </section>
    
    <section class="top text-xl">
        <div class="">
            CONTO<br>TELEFONICO
        </div>
        
        <p>
            <b>Numero Fattura</b> <br>
            
            <span contenteditable="true">61035607754</span>
            
        </p>
        
        <p>
            <b>Data emissione fattura</b><br>
            <span contenteditable="true">03/07/2020</span>
            
        </p>
        
        <p>
            <b>Periodo di fatturazione</b><br>
            <span contenteditable="true">01/06/2020 - 30/06/2020</span>
            
        </p>
        
    </section>
    
    <section class="address pt-10 "> 
        
        <div>
            <p>Intestatario</p>
            <p contenteditable="true">SIMONE SANTI</p>
            <p contenteditable="true">VIA BOLLA 22/2</p>
            <p contenteditable="true">20151 MILANO</p>
            <p contenteditable="true">C.F.PCCMRZ76T21H155P</p>
            <p>Cod. Domiciliacion Bancaria / Identificativo Mandato</p>
            <p contenteditable="true">OSB8791510100463</p>
            <p>Codice Identificativo Creditore</p>
            <p>IT480010000005410741002/IT480020000005410741002</p>
        </div>
        
        <div class="self-end">
            <p contenteditable="true">SIMONE SANTI</p>
            <p contenteditable="true">VIA BOLLA 22/2</p>
            <p contenteditable="true"> 20151 MILANO</p>
        </div>
        
        <p class="opacity-70"> <br> WIAF3700096407003852</p>
        
        <div class="opacity-70">
            <p>0047</p>
            <p>RFI2480035ER0050008 07</p>
            <p>02281272 MEA20357587</p>
            <p>1359 7</p>
        </div>
        
    </section>
    
    <div class="mainBody">
        <section>
            <p>Gentile <span>SIMONE SANTI</span>,</p>
            <p>Le inviamo il suo Conto Telefonico relativo alle offerte infostrada</p>
            <p>IL totale da pagare ento il <b contenteditable="true">30/06/2020</b> e di <b>Euro <span contenteditable="true">{total}</span></b></p>
            <p>Trovera allegato a questo Conto Telefonico il bollettino postale per effecttuare il pagamento.</p>
            <p>La ringraziamo per aver scelto i nostri servizi.</p>
        </section>
        
        <section class="border-2 border-black rounded-3xl px-5 pt-1 pb-1"
        style="padding-top: 20px; padding-bottom: 20px;">
            <table class="table-auto">
                <caption>
                    <b>RIEPILOGO DEI COSTI (in Euro)</b>
                </caption>
                <tr>
                    <td>Costi abbonamenti e traffico</td>
                    <td contenteditable="true">70,38</td>
                </tr>
                <tr>
                    <td>Costi di spedizione del Conto Telefonico</td>
                    <td contenteditable="true">2,12</td>
                </tr>
                <tr>
                    <td>TOTALE IMPONIBLE</td>
                    <td contenteditable="true">72,50</td>
                </tr>
                <tr>
                    <td>TOTALEIVA 1</td>
                    <td contenteditable="true">14,38</td>
                </tr>
                <tr>
                    <td><b>TOTALE CONTO TELEFONICO</b></td>
                    <td><b contenteditable="true">{total}</b></td>
                </tr>
            </table>
        </section>
        
        <section>
            <p><b>Comunicazioni per lei</b></p>
            <p>
                Alla data <span contenteditable="true">03/07/2020</span>, i suoi pagamenti non risultano regolari e pertanto la 
                invitiamo a normalizzare la sua posizione. Non consideri questa communicazione se il pagamento é stato
                effettuato in prossimita della data indicate.
            </p>
            <br>
            <p>
                <b>Novita:</b> Da oggi puo richiedere i'addebito in Banca/Posta del suo Conto Telefonico
                Direttamente online sull'area Clienti del sito <b>www.infostrada.it</b> o <b>www.wind.it!</b>
                <br>
                Provvederemo a chiedere autorizzazione alia Banca/Posta senza che sia necessaria
                alcuna altra operazione da parte sua.
            </p>
            
        </section>
        
    </div>
    
</div>



<style lang="scss">
    
    .mainBody {
        width: 80%;
        
        @apply mx-auto pt-20 text-xl;
        
        .address {
            p {
                font-size: 10px !important;
            }
        }
        
        section {
            @apply py-10;
        }
        
        b {
            // @apply text-3xl;
        }
        
        table {
            @apply w-full mx-auto;
            
            caption {
                text-align: left;
            }
            
            td:last-child {
                text-align: right;
                // @apply -mb-2;
            }
            
            td {
                @apply pt-4;
            }
            
            tr:not(:last-child) {
                @apply  border-b-2 border-gray-600;
            }
            
        }
        
    }
    
    #printThis {
        width: 1240px;
        height: 1754px;
        
        @apply mx-auto px-10;
    }
    
    .top, .address {
        @apply flex justify-between;
    }
    
    .top {
        @apply border-2 border-black rounded-3xl p-5  justify-between;
    }
    
    .finalBtn {
        @apply mx-auto border p-2 text-center block my-4 hover:bg-green-300;
    }
    
    @media print {
        .no-print {
            display: none !important;
        }
    }
    
</style>